.container{
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    height: 100%;
    min-width: 30%;
    margin-left: 0;
}
.left img{
    height: 100%;
    width: auto;
}
.right{
    margin-top: 6rem;
    height: 60%;
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.heading{
    font-size: 3.5rem;
    color: #222222;
}
.sub_heading{
    font-size: 2.2rem;
    color: var(--primary);
    font-family: 'Source Sans Pro', sans-serif;
}
.para{
    font-size: 1.5rem;
    color: #333333;
    text-align: start;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    height: 5.5rem;
}
.icon_div{
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 50%;
}
.icon{
    font-size: 2rem;
    color: white;
}